.contact-us-content {
  font-family: 'Roboto', helvetica;
  max-width: 800px;
  min-width: 500px;
  width: 80%;
  margin: 0 auto;
}

.contact-us-header {
  text-align: center;
}

.contact-us-header p {
  color: #3b4e47;
}

.contact-us-title {
  font-size: 30px;
  font-weight: 700;
  margin: 20px;
  color: #3b4e47;
}

.contact-us-content a {
  text-decoration: underline;
  color: #0f48AA;
}

:root {
  --padding: 15px;
}

.input input {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  font-size: 15px;
  border: 1px solid #dadada;
  padding-left: var(--padding);
  border-radius: 4px;
}

.input textarea {
  resize: none;
  width: calc(100% - var(--padding));
  height: 150px;
  padding: var(--padding);
  margin: 10px auto;
  border: 1px solid #dadada;
  border-radius: 4px;
  font-size: 15px;

}

.input ::placeholder {
  color: #dadada;
}
