.contact-us-content {
  font-family: 'Roboto', helvetica;
  max-width: 800px;
  min-width: 500px;
  width: 80%;
  margin: 0 auto;
}

.contact-us-header {
  text-align: center;
  margin: 30px;
}

.contact-us-info {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.contact-us-info div {
  color: #3b4e47;

}

.contact-us-info a {
  margin-left: 5px;
}

.contact-us-header p {
  color: #3b4e47;
  text-align: right;
}

.contact-us-title {
  font-size: 30px;
  font-weight: 700;
  margin: 20px;
  color: #3b4e47;
  text-transform: uppercase;
}


.contact-us-content a {
  text-decoration: underline;
  color: #0f48AA;
}

:root {
  --padding: 15px;
}

.input input {
  width: 100%;
  margin: 7px 0;
  height: 35px;
  font-size: 15px;
  border: 1px solid #dadada;
  padding-left: var(--padding);
  border-radius: 4px;
}

.input textarea {
  resize: none;
  width: calc(100% - var(--padding));
  height: 120px;
  padding: var(--padding);
  margin: 10px auto;
  border: 1px solid #dadada;
  border-radius: 4px;
  font-size: 15px;

}

.input ::placeholder {
  color: #dadada;
}

.contact-us-submit input {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 44px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  color: #3b4e47;
}

.contact-us-submit input:hover {
  background-color: #efefef;
  cursor: pointer;
}

.carousel .thumbs-wrapper .control-next.control-arrow:before {
    border-left: 8px solid #000 !important;
    right: -5px;
}
.carousel .thumbs-wrapper .control-prev.control-arrow:before {
    border-right: 8px solid #000 !important;
}


.thumbs-wrapper button.control-next.control-arrow {
  right: -5px;
}
