.footer-container {
  width: 100%;
  height: 50px;
  background: white;
  color: black;
  z-index: 10;
  -webkit-box-shadow: 0 -0.5px 0.5px 0px #bbb;
  -moz-box-shadow: 0 -0.5px 0.5px 0px #bbb;
  box-shadow: 0 -0.5px 0.5px 0px #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

// .footer-absolute {
// }
