html, body {
  // background-color: #f4f4f4 !important;
}

.app {
  position: relative;
  min-height: 100vh;
  font-family: "Roboto", helvetica, sans-serif;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

$spinner-color: #69717d !default;
$spinner-size: 48px !default;

.spinner {
  font-size: $spinner-size;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  &.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    // bottom: 0;
    margin: auto;

    .spinner-blade {
      position: absolute;
      left: .4629em;
      bottom: 0;
      width: .074em;
      height: .2777em;
      border-radius: .0555em;
      background-color: transparent;
      transform-origin: center -.2222em;
      animation: spinner-fade 1s infinite linear;

      $animation-delay: 0s;
      $blade-rotation: 0deg;

      @for $i from 1 through 12 {

        &:nth-child(#{$i}) {
          animation-delay: $animation-delay;
          transform: rotate($blade-rotation);
          $blade-rotation: $blade-rotation + 30;
          $animation-delay: $animation-delay + .083;
        }
      }
    }
  }
}


@keyframes spinner-fade {
  0% { background-color: $spinner-color; }
  100% { background-color: transparent; }
}

// @keyframes spin {
//     0% { transform: rotate(0deg); }
//     100% { transform: rotate(360deg); }
// }
