.rock-images {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.img-carousel {
  display: flex;
  overflow: hidden;
  // position: relative;
  // left: 0;
}

.carousel-image {
  margin-left: 15px;
}

.carousel-image:first-child {
  margin-left: 0;
}

.img-carousel img {
  height: 80px;
}
