.pagination-bar, .page-navigation-bar, .page-range, .current-page-and-nav {
  display: flex;
  align-items: center;
}

.pagination-bar {
  justify-content: space-between;
  max-width: 84.125em;
  font-family: helvetica, sans-serif;
}

.selected-page {
  font-weight: 700;
}

.faded {
  color: gray;
}

.pagination-bar {
  padding: 10px 0;
}

.item-count {
  font-weight: 700;
  font-size: 14px;
}

.current-page {
  margin-right: 20px;
}

.page-nav-arrow {
  padding: 0 5px;
  font-size: 20px;
}

.page-number {
  padding: 0 2px;
}
