.pagination-bar, .page-navigation-bar, .page-range, .current-page-and-nav {
  display: flex;
  align-items: center;
  color: inherit;
}

.pagination-bar {
  justify-content: space-between;
  max-width: 84.125em;
  color: #3b4e47;
  padding: 10px 0;
}

.selected-page {
  font-weight: 300;
  color: inherit;
}

.faded {
  color: rgb(170, 170, 170);
}

.current-page-and-nav {
  color: inherit;
}

.item-count {
  font-weight: 300;
  font-size: 14px;
  color: inherit;
}

.current-page {
  color: inherit;
  margin-right: 20px;
}

.page-nav-arrow {
  color: inherit;
  padding: 0 5px;
  font-size: 9px;
}

.page-number {
  color: inherit;
  padding: 0 2px;
}
