
.stone-index {
  text-align: center;
  margin: auto;
}

.stone-index-list {
  display: grid;
  margin: 0 auto;
  max-width: 1346px;
  min-width: 450px;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px 24px;
}

.stone-index-item-image {
  max-width: 250px;
  min-width: 250px;
  overflow: hidden;
}

@media screen and (max-width: 1346px) and (min-width: 1072px) {
  .stone-index-list {
    grid-template-columns: repeat(4, 1fr);
    width: 1072px;
  }
}

@media screen and (min-width: 798px) and (max-width: 1071px) {
  .stone-index-list {
    grid-template-columns: repeat(4, 1fr);
    width: 798px;
  }

  .stone-index-item-image {
    max-width: 175px;
    min-width: 175px;
    overflow: hidden;
    height: 175px;
  }
}

@media screen and (max-width: 797px) {
  .stone-index-list {
    grid-template-columns: repeat(2, 1fr);
    width: 524px;
  }
}

// .stone-index-item-image {
//   max-width: 100%;
//   min-width: 100%;
//   height: 20vw;
// }


.stone-index-item-image img {
  height: 250px;
}

.stone-index-item-name {
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  font-family: helvetica, sans-serif;
  text-transform: uppercase;
}
