
.stone-index {
  text-align: center;
  margin: auto;
}

.stone-index-list {
  display: grid;
  margin: 0 auto;
  max-width: 84.125em;
  min-width: 28.125em;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em 1.5em;
}

.stone-index-item-image {
  max-width: 15.625em;
  min-width: 15.625em;
  overflow: hidden;
}

@media screen and (max-width: 84.125em) and (min-width: 67em) {
  .stone-index-list {
    grid-template-columns: repeat(4, 1fr);
    width: 67em;
  }
}

@media screen and (min-width: 48.250em) and (max-width: 66.938em) {
  .stone-index-list {
    grid-template-columns: repeat(4, 1fr);
    width: 48.250em;
  }

  .stone-index-item-image {
    max-width: 10.938em;
    min-width: 10.938em;
    overflow: hidden;
    height: 10.938em;
  }

  .stone-index-item-image img {
    height: 10.938em !important;

  }
}

@media screen and (max-width: 48.188em
) {
  .stone-index-list {
    grid-template-columns: repeat(2, 1fr);
    width: 32.750em;
  }
}

// .stone-index-item-image {
//   max-width: 100%;
//   min-width: 100%;
//   height: 20vw;
// }


.stone-index-item-image img {
  height: 15.625em;
}

.stone-index-item-name {
  font-weight: 700;
  text-align: center;
  padding-top: 0.625em;
  font-size: 0.875em;
  font-family: helvetica, sans-serif;
  text-transform: uppercase;
}
