<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="https://s3.amazonaws.com/collectivestone-pro/favicon.png" />
    <title>Collective Stone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
